body{
    background:#f1f1f1;
}
.header-top{
    padding: 10px 0px;
}
.header-top-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #af2565;
    color:#fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 100%;
}
.header-top-icon:hover{
    color: #000;
}
#nav-bar{
     background: #fff;
     padding: 25px 0px;
     box-shadow: 0px 1px 2px 0px #b9b9b9;
}
#nav-bar a{
     color: #af2565;
}

#nav-bar .nav-link{
    font-size: 18px;
    font-family: 'Bitter', serif;
}
#nav-bar .navbar-brand{
    font-size: 25px;
    font-family: 'Bitter', serif;
    font-weight: bold;
}
#nav-bar .add-to-cart{
    font-size: 30px;
    padding: 0px 20px;
    transition: 0.4s;
    position: relative;
    
}
#nav-bar .add-to-cart .total_cart{
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%,-50%);
    color: #000;
    transition: 0.1s;
    font-weight: bold;
}
#nav-bar .add-to-cart:hover .total_cart{
    top: 0%;
}


.bg-color-1{
    background: #af2565;
    color:#fff;
}



.hero-slider{
    margin-top: 15px;
    

}
.hero-slider .carousel-item{
    border: 1px solid rgba(0,0,0,0.125);
    overflow: hidden;
    border-radius: 10px;
}

.btn-1{
    display: inline-block;
    background: red;
    padding: 5px 15px;
    font-size: 16px;
    font-family: 'Bitter', serif;
    background: #af2565;
    color: #fff;
    border-radius: 15px;
    transition: 0.4s;
}
.btn-1:hover{
    color: #fff;
    text-decoration: none;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(121, 121, 121, 0.5);
}




.font-bitter{
    font-family: 'Bitter', serif;
}
.font-jose{
    font-family: 'Josefin Sans', sans-serif;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.single-book img{
    transition: 0.4s;
}
.single-book{
    cursor: pointer;
    border:1px solid rgba(0,0,0,0.125);
    background:#fff;

}
.single-book:hover{
    box-shadow: 0px 1px 4px 1px #b9b9b9;
}
.single-book-link{
    color: #000;

}
.single-book:hover img{
    transform: scale(1.1);
}

.single-book-link:hover .btn-1{
    background: #af2565;
}
.single-book-link:hover{
    color: #000 !important;
    text-decoration: none;
}

.books-category{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
}
.books-category li{
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.120)
}
.books-category li a{
    display: block;
    padding: 3px 0px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #af2565;
    transition: 0.2s;
}
.books-category li a:hover{
    text-decoration: none;
   
    padding-left: 10px;
}

.audio-card{
    position: relative;
}
.audio-card audio{
    margin: 0px auto;
}























.footer{
    background: #af2565;
    padding: 80px 0px;
}